
.success-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.success-circle {
  width: 80px;
  height: 80px;
  background: radial-gradient(circle, #e6ff00, #889600);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 15px rgba(255, 255, 0, 0.5);
  position: relative;
}

.checkmark {
  width: 50px;
  height: 50px;
  stroke-width: 5;
  stroke: black;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.checkmark-circle {
  stroke: none;
}

.checkmark-check {
  stroke-dasharray: 30;
  stroke-dashoffset: 30;
  animation: draw-check 0.5s ease-in-out forwards;
}

@keyframes draw-check {
  from {
      stroke-dashoffset: 30;
  }
  to {
      stroke-dashoffset: 0;
  }
}
