.AuthPage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  background-color: rgba(38, 38, 38, 1);

}

.login-section {
  padding: 20px;
}
@media (max-width: 850px)
{
  .login-section {
    padding: 0;
  }

}