.background {
  background-image: url('./background.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 60vw;
  /* display: flex; */
  /* align-items: center; */
  color: white;
}

.background-text {
  /* border: 2px solid red; */
  position:relative;
  width: 100%;
  text-align: left;
  top: 50vh;
  
}
.background-text h1{
  margin-left: 5%;
  
}


@media (max-width: 850px){
  .background {
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
  }
  
  .background::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 2000%;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay */
    filter: blur(5px); /* Blur effect */
    z-index: 1;
    overflow: hidden;
  }
  .background-text{
    display: none;
  }
}
