.login-container {
  background: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 300px;
  width: 60%;
  color:black;
  margin-left:20%;
}


.login-form label {
  display: block;
  margin-bottom: 20px;
  font-weight: bold;
}



.login-button {
  background-color: #E0FF20;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  margin: 5px 0;
}

.social-login button {
  background-color: #f5f5f5;
  color:black;
  border: none;
  padding: 10px;
  margin: 5px 0;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}

.social-login button:hover {
  background-color: #ddd;
}

.login-form p {
  text-align: center;
  margin-top: 15px;
}
/* .login-form  {
  margin-bottom: 20px;
  color:black;
} */
.consumer_id{
  background-color: white;
  color:black;
  border: 1px solid #ccc;
  border-radius: 5px;
  border-bottom-left-radius:0px ;
  border-bottom-right-radius:0px ;
  padding: 10px;
  width: 93%;
  margin: 5px 0 15px 0;
  margin-bottom: 0px;
}
.password{
  background-color: white;
  color:black;
  width: 93%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  border-top-left-radius:0px ;
  border-top-right-radius:0px ;
  margin: 5px 0 5px 0;
  margin-top: 0px;

}
.social-login svg{
  position: relative;
  left: -35px;
}
.apple-btn svg{
  left: -40px;
}
.facebook-btn svg{
  left: -30px;
}
@media (max-width: 850px){
  .login-container {
    position: absolute;
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    max-width: 90%; /* Ensure it doesn't overflow on smaller screens */
    color: black;
    z-index: 3; /* Ensure it appears above everything */
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%); /* Center the form */
  }
}
@media (max-width: 400px) {
  .login-container {
    width: 80%; /* Adjust login form width */
    padding: 10px;
  }

  .login-form label {
    font-size: 0.9rem; /* Adjust font size for small screens */
  }

  .login-button {
    font-size: 0.9rem;
  }

  /* Hide the logo text */
  .logo-text {
    display: none; /* Hide the text */
  }

  /* Keep the logo image visible */
  .logo-image {
    display: block; /* Ensure the image is visible */
    margin: 0 auto;
  }
}