.credit-details h2 svg{
  margin-left: 10px;
  background-color:#FFE600 ;
  padding: 2px;
  border-radius: 10px;
  position: relative;
  top: 2px;
  color: black;
}
.input-field-sell {
  flex: 1;
  padding: 8px;
  border: 1px solid #333;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(38, 38, 38, 1);
  font-weight: bold;
}

.input-field-sell::placeholder {
  color: #888;
}