.ConfirmCredit-details h3 img{
  /* margin-left: 10px; */
  background-color:rgba(227, 227, 227, 1) ;
  padding: 2px;
  border-radius: 10px;
  position: relative;
  top: 2px;
  /* color: black; */
}
.ConfirmCredit-details h3 svg{
  /* margin-left: 10px; */
  background-color:#FFE600 ;
  padding: 2px;
  border-radius: 10px;
  position: relative;
  top: 2px;
  color: black;
}
.ConfirmCredit-details{
  position: relative;
  left: 10%;
}
.confirm-button-Delete{
  margin-top: -5%;
}