.credit-details h3 img{
  margin-left: 10px;
  background-color:rgba(227, 227, 227, 1) ;
  padding: 2px;
  border-radius: 10px;
  position: relative;
  top: 2px;
  /* color: black; */
}
.credit-details h3 svg{
  margin-left: 10px;
  background-color:#FFE600 ;
  padding: 2px;
  border-radius: 10px;
  position: relative;
  top: 2px;
  color: black;
}

.reload-button {
  color: white;
  border: none;
  /* padding: 10px 20px; */
  font-size: 16px;
  /* border-radius: 5px; */
  cursor: pointer;
  transition: background-color 0.3s ease;
  background: transparent;
}


.reload-button:active {
  transform: scale(0.95);
}

.credit-details-settoken{
  display: flex;
  gap: 1%;
  margin-bottom: -10%;
}

.input-field-settoken{
  flex: 1;
  padding: 8px;
  border: 1px solid #333;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(38, 38, 38, 1);
  font-weight: bold;
}

.input-field-settoken::placeholder {
  color: #888;
}