.container {
  width: 60%;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #FFFFFF;
  border-radius: 16px;
  color: #262626;
  height: auto;
  position: relative;
  left: 18%;
  margin-top: 7px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: #FFFFFF;
  padding: 10px 20px;
  /* border-radius: 8px; */
  border-bottom: 3px solid rgb(211, 211, 211);
}

.nav-credits,
.nav-dates {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav-dates
{
  background-color: #e1e1e1;
  border-radius: 5px;
}
.nav-credits li,
.nav-dates li {
  margin: 0 5px;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  
}

.nav-credits li.active,
.nav-dates li.active {
  background-color: #333;
  color: #fff;
}

.nav-credits li:hover,
.nav-dates li:hover {
  background-color: #393939;
  color: #fff;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2%;
  margin-bottom: 20px;
}

.left-section {
  width: 40%;
  text-align: left;
  padding: 0 20px;
  border-radius: 5px;
  border: 1px solid rgb(211, 211, 211);
}

.left-section h4 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.left-section .earn-credit {
  background-color: #EDEDED;
  color: #262626;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.right-section {
  width: 40%;
  text-align: right;
  text-align: center;
  font-size: large;
  
}

.right-section h5.primary {
  color: #007bff;
  /* font-weight: bold; */
  
}

.right-section h6.error {
  color: #e63946;
  font-weight: bold;
  font-size: large;
}

.right-section h6.success {
  color: #28a745;
  font-size: large;
}
.right-section .error-div,.right-section .success-div{
  border-radius: 5px;
  border: 1px solid rgb(211, 211, 211);
  margin: 5px;
  padding: 0 0;
}
.right-section .error-div h6,.right-section .success-div h6{
  margin-top: 0;
}
.mid-section {
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid rgb(211, 211, 211);
}
.mid-section p{
  margin-left: 10px;
}

.mid-section .primary {
  margin-left: 10px;
  font-size: larger;
  font-weight: bold;
}

.mid-section .earn-credit:hover {
  background-color: #0056b3;
}

.pay-section {
  margin-left: 10px;
  align-items: center;
}
.token-input {
  margin-left: 10px;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #fff;
  color: #262626;
}
.unit-select {
  margin-left: 10px;
  color: #262626;
  margin-left: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #fff;
  cursor: pointer;
  outline: none;
}


.unit-select:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


.pay-credit {
  margin-left: 10px;
  background-color: #E0FF20;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  color: #262626;
}

.pay-credit:hover {
  background-color: #e9fe08;
}

.graph-container {
  text-align: center;
  margin-top: 20px;
}

.graph-image {
  max-width: 100%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.container svg{
  margin-left: 10px;
  background-color:#FFE600 ;
  padding: 2px;
  border-radius: 10px;
  position: relative;
  top: 2px;
  color: black;
}