.dashboard-conatainer{
  display: flex;
  justify-content: space-between;
  background-color: #D9D9D9;
}
.centre-dashboard-div{
    width: 60%;
    height: auto;
    position: relative;
    left: 18.5%;
    gap:1%;
}

.earnCreditPopup {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 300px; */
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 1000;
}


.popup-overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}


