*{
    font-family: Arial, sans-serif;
}

.rightsidebar {
    width: 250px; 
    background-color: #f5f5f5;
    padding: 10px;
    border-left: 1px solid #ccc; /* Border on the left to differentiate from content */
    position: fixed; /* Fix the position on the screen */
    top: 0; /* Start from the top of the viewport */
    right: 0; /* Align it to the rightmost part of the screen */
    height: 100vh; /* Full height of the viewport */
}


.welcome-section{
    font-size: 1.5rem;
}

.welcome-section p {
    margin: 10px;
    color: black;
}

.connect-btn{
    display: flex;
    justify-content: center;
    font-weight: 100;
}

.connect-btn button{
    background-color: #d8ff28;
    width: 290px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    color: black;
    font-size: 1rem;
}

.metamask-button {
    background-color: #ffca28;
    border: none;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

.card1 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.card2 {
    margin-top: 10px;
}